* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.05rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.documents-container {
    display: flex;
    width: 100vw;
    gap: 1rem;
    padding: 1rem;
}

.add-new-document-button {
    margin: 1rem 0 0 1rem;
    padding: .25rem;
}

.document {
    background-color: rgba(207, 207, 207, 0.5);
    color: black;
    text-decoration: none;
    border: .5px solid black;
    width: 200px;
    height: 300px;
    padding: 1rem;
    word-break: keep-all;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delete-document-button {
    align-self: flex-end;
}

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
}

.navigation-bar {
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.document-title {
    padding: .25rem;
    outline: none;
    border: .5px solid black;
    width: 300px;
}

.document-contents {
    display: flex;
    gap: 2rem;
}

.document-page {
    width: 750px;
    height: 750px;
    resize: none;
    padding: .5rem;
    outline: none;
    border: .5px solid black;
}

.chatbot-summarizer {
    height: 750px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.messages-container {
    flex: 1;
    border: .5px solid black;
    padding: 1rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.message {
    border-radius: 1rem;
    padding: .5rem;
}

.blue-background {
    background-color: blue;
    color: white;
    align-self: flex-end;
}

.gray-background {
    background-color: rgba(128, 128, 128, 0.25);
}

.summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary-section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.section-title strong {
    font-size: 1.4rem;
    text-decoration: underline;
}

.user-options {
    display: flex;
    gap: 1rem;
}

.message-input {
    padding: .25rem;
    flex: 1;
}

